body {
    margin: 0;
    overflow: hidden;
    background: #ededed;
}

/* Mensagem no centro */
#message-box {
    position: absolute;
    bottom: 160px;
    left: -300px;
    padding: 20px 30px;
    background: white;
    font-size: 18px;
    border: 2px solid black;
    box-shadow: 4px 4px 0px black;
    transition: left 2.2s ease-out;
}

/* ----- PATO NOVO FIXO ----- */
#goose {
    position: absolute;
    left: -150px;
    bottom: 65px;
    width: 120px;
    height: 100px;
    transition: left 2.2s ease-out;
}

/* corpo */
.goose-body {
    width: 85px;
    height: 55px;
    background: white;
    border-radius: 50px;
    border: 2px solid black;
    position: absolute;
    bottom: 25px;
}

/* olho bravo */
.goose-eye {
    width: 14px;
    height: 14px;
    background: black;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 10px;
}
.goose-eye::after {
    content: "";
    width: 18px;
    height: 4px;
    background: black;
    position: absolute;
    top: -5px;
    left: -3px;
    transform: rotate(25deg);
}

/* bico */
.goose-beak {
    width: 22px;
    height: 12px;
    background: orange;
    border-radius: 10px;
    border: 2px solid black;
    position: absolute;
    right: -10px;
    top: 20px;
}

/* Perninhas andando */
.goose-leg {
    width: 10px;
    height: 26px;
    background: orange;
    border: 2px solid black;
    position: absolute;
    bottom: 0px;
}

.goose-leg.left {
    left: 25px;
    animation: walk 0.35s infinite alternate;
}

.goose-leg.right {
    left: 50px;
    animation: walk 0.35s infinite alternate-reverse;
}

@keyframes walk {
    0% { transform: rotate(-15deg); }
    100% { transform: rotate(15deg); }
}
